<div class="album py-5">
    <div class="card">
        <div class="card-header">
            Filter
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="number" class="form-control" id="lowrange" aria-describedby="emailHelp"
                        placeholder="Min Range">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="highrange" placeholder="Max Range">
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Filter</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>