<section class="jumbotron text-center p-5">
    <div class="container">
        <h1 class="jumbotron-heading">Our Special Items list below</h1>
    </div>
</section>

<div *ngIf="!dish" class="flex">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div *ngIf="dish">
    <div class="py-3 p-3">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-2">
                <app-filters></app-filters>
            </div>
            <div class="col-12 col-sm-6 col-md-8">
                <app-productlist [dishitem]="dish"></app-productlist>
            </div>
            <div class="col-12 col-sm-3 col-md-2">
                <app-cartitem></app-cartitem>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <div class="container-fluid p-0">
        <div class="jumbotron">
            <h1 class="display-4">Menu</h1>
        </div>
    </div>
</div>
<div class="container-fluid"  *ngIf="dish">
    <div class="row m-auto">
        <div class="col-6 col-sm-6 col-md-3 mt-2" *ngFor="let d of dish"  [routerLink]="['/dishdetail',d.id]">
            <div class="card h-100">
                <img class="card-img-top mw-100" src="{{d.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{d.name}}</h5>
                    <p class="card-text">{{d.discription}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->