<section class="jumbotron text-center p-5">
    <div class="container p-5">
        <h1 class="jumbotron-heading">Hello, Welcome to Food In Dabba</h1>
        <p class="lead text-muted">Todays special dish is down below. order it and feel the happiness..</p>
    </div>
</section>

<div class="p-5">
    <div class="container-fluid" *ngIf="featureddish">
        <div class="row m-auto">
            <div class="col-12 col-sm-6 col-md-4 mt-2">
                <mat-card class="example-card">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>{{featureddish.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{featureddish.image}}" alt="{{featureddish.name}}">
                    <mat-card-content>
                        <p>{{featureddish.discription}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>